/*/*-----HEADER----------*/

body {
	display: flex;
	margin: 0;
}

header,
.forcolor {
	background-color: #F0F0D8;
}


.abso{

position: absolute; 
top: 198px; 
left: 463px;
color: white;
font-size: 60; 
font-family: "Courier New";
  
}

.lute{

position: absolute; 
top: 270px; 
left: 479px; 
color: white;

}
header {
	margin-right: 30px;
	margin-left: 30px;
}

header,
footer {
	font-family:"Arial";
	
}

h1 {
	font-size: 22px;
	font-weight: 900;
	margin-bottom: 8px;
}


h3 {
	color: #A1BEA2;
	font-size: 15px;
	font-weight: 600;
	margin-top: 7px;
	margin-bottom: 6px;
}


h1,
h2,
h4 {
	color: #A57243;
}
.secOne,
.secTwo {

	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.one {
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: 900;
}

.two{
	margin-top: 2px;
	font-size: 15px;
}



/*------INGREDIENTS-------*/

.ingredients,
.howto {
	font-size: 15px;
	font-weight: 900;
	margin-bottom: 3px;
}

.ing,
.oven {
	margin-top: 3px;
	font-size: 15px;
}

li {
	padding-bottom: 2px;
}




/*------HOW TO-------*/


/*------footer-------*/

.container{
	display: flex;
}

footer {
	flex-direction: column;
	align-items: stretch;
	flex: 1;
	background-color: #F0D890;
	padding: 25px;

	
}

h2 {
	font-size: 15px;
	font-weight: 900;
}

.title {
	margin-bottom: 2px;
	margin-top: 2px;
}

.dots,
.related{
	font-size: 13px;
	line-height: 1.5;
	margin-top: 2px;

}

li,
.dots,
.related,
.ing,
.oven,
.two {
		color: #494539;

}

.dots {
	
	padding-left: 25px;
}

.related {
	padding-left: 0;
}

.empty{
	flex-direction: column;
	align-items: stretch;
	flex: 2;
}

@media (max-width: 850px){

	footer {
		flex: 0px;
	}
}
@media (max-width: 890px){
	.empty
	 {
		flex: 0;
	}
}

@media (min-width: 891px) and (max-width: 1000px){
	.empty {
		flex: .3;
	}
}

@media (min-width: 1001px) and (max-width: 1200px){
	.empty {
		flex: .8;
	}
}

